    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Wer wir so sind</h2>
                <p>ABGEDREHT ist die studentische Hochschulgruppe für ambitionierte Filmemacher am <a href="https://kit.edu">Karlsruher Institut für Technologie</a>.</p>
                <p>Sie setzt sich aus Studenten unterschiedlicher Fachrichtungen zusammen. Jeder Studierende ist dazu eingeladen, seine persönlichen Interessen in die Filmprojekte und Workshops einzubringen. Sei es auf dem Gebiet des Grafikdesigns, Animation, Ton, Schnitt, Drehbuch oder Kamera. Wir lassen uns dabei auf kein Genre und kein bestimmtes Medium festlegen (auch Hörspiele und Stop-Motion haben ihren Platz).</p>
                <p>Zu den Auftraggebern für unsere Produktionen zählen Institute, Vereine und Fachschaften. Aber zu allererst kannst Du deine eigenen Ideen im ABGEDREHT-Team realisieren.</p>
            </div>
        </div>
    </section>
