.portfolio-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(/img/portfolio-bg.jpg) no-repeat center center scroll;
    background-color: {{ site.color.primary-dark }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
